.i {
  image-rendering: pixelated;
  padding-left: 22px;
}

.i-attach {
  background: url(../icons/attach.png) no-repeat 0 50%;
  .i()
}

.i-newspaper {
  background: url(../icons/newspaper.png) no-repeat 0 50%;
  .i()
}

.i-box {
  background: url(../icons/box.png) no-repeat 0 50%;
  .i()
}

.i-tag-blue {
  background: url(../icons/tag_blue.png) no-repeat 0 50%;
  .i()
}

.i-user {
  background: url(../icons/user.png) no-repeat 0 50%;
  .i()
}

.i-time {
  background: url(../icons/time.png) no-repeat 0 50%;
  .i()
}

.i-error {
  background: url(../icons/error.png) no-repeat 0 50%;
  .i()
}

.i-information {
  background: url(../icons/information.png) no-repeat 0 50%;
  .i()
}

.i-exclamation {
  background: url(../icons/exclamation.png) no-repeat 0 50%;
  .i()
}

.i-wrench {
  background: url(../icons/wrench.png) no-repeat 0 50%;
  .i()
}

.i-date {
  background: url(../icons/date.png) no-repeat 0 50%;
  .i()
}

.i-email-go {
  background: url(../icons/email_go.png) no-repeat 0 50%;
  .i()
}

.i-bin {
  background: url(../icons/bin.png) no-repeat 0 50%;
  .i()
}

.i-zoom {
  background: url(../icons/zoom.png) no-repeat 0 50%;
  .i()
}

.i-note-add {
  background: url(../icons/note_add.png) no-repeat 0 50%;
  .i()
}

.i-note-edit {
  background: url(../icons/note_edit.png) no-repeat 0 50%;
  .i()
}

.i-note-delete {
  background: url(../icons/note_delete.png) no-repeat 0 50%;
  .i()
}

.i-note-go {
  background: url(../icons/note_go.png) no-repeat 0 50%;
  .i()
}

.i-disk {
  background: url(../icons/disk.png) no-repeat 0 50%;
  .i()
}

.i-feed {
  background: url(../icons/feed.png) no-repeat 0 50%;
  .i()
}

.i-github {
  background: url(../icons/GitHub-Mark-Light-32px.png) no-repeat 0 50%;
  background-size: 16px;
  .i()
}
