.i {
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-attach {
  background: url(../icons/attach.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-newspaper {
  background: url(../icons/newspaper.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-box {
  background: url(../icons/box.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-tag-blue {
  background: url(../icons/tag_blue.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-user {
  background: url(../icons/user.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-time {
  background: url(../icons/time.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-error {
  background: url(../icons/error.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-information {
  background: url(../icons/information.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-exclamation {
  background: url(../icons/exclamation.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-wrench {
  background: url(../icons/wrench.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-date {
  background: url(../icons/date.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-email-go {
  background: url(../icons/email_go.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-bin {
  background: url(../icons/bin.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-zoom {
  background: url(../icons/zoom.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-note-add {
  background: url(../icons/note_add.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-note-edit {
  background: url(../icons/note_edit.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-note-delete {
  background: url(../icons/note_delete.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-note-go {
  background: url(../icons/note_go.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-disk {
  background: url(../icons/disk.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.i-feed {
  background: url(../icons/feed.png) no-repeat 0 50%;
  image-rendering: pixelated;
  padding-left: 22px;
}
.article {
  margin-bottom: 1rem;
}
.article-header {
  background: rgba(179, 179, 179, 0.1);
  padding: 0.5rem;
  list-style: none;
  border-bottom: 2px solid rgba(10, 10, 10, 0.1);
  font-size: 0.8rem;
}
.article-header .article-header-row {
  display: flex;
  margin-bottom: 0.3rem;
}
.article-header .article-header-row:last-child {
  margin-bottom: 0;
}
.article-header .article-header-row .article-header-title {
  width: 7rem;
}
.article-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.markdown-body {
  margin: 0.5rem 0;
}
ul.article-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.article-list > * {
  margin-bottom: 1rem;
}
ul.article-list > * .title {
  background-color: #6fb6dd;
  color: #ffffff;
  border-color: #226991;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
ul.article-list > * .title a {
  padding: 0.2rem 0.5rem;
  color: inherit;
  display: block;
}
ul.article-list > * .description {
  margin-top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.filter-form {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.filter-form li {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.filters-sidebar h6 {
  border-bottom: 2px solid #b1b1b1;
  padding: 0.3rem 0.5rem;
}
.filters-sidebar ul {
  margin: 0.5rem 0;
  padding: 0;
  list-style: none;
}
.filters-sidebar ul li {
  padding: 0.1rem 0.5rem;
}
.filters-sidebar ul li.active {
  background-color: #246f99;
  color: #ffffff;
}
.filters-sidebar ul li.active a {
  color: inherit;
}
.filters-sidebar ul li a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.info-watermark {
  background: url(../img/info.png) no-repeat 50% 0;
  margin: 3.5rem auto;
  padding-top: 61px;
  max-width: 256px;
  background-size: 56px;
  text-align: center;
  color: rgba(0, 0, 0, 0.16);
  font-size: 0.9rem;
}
#id_description {
  box-sizing: border-box;
  width: 100%;
  min-height: 18rem;
}
ul.attachments-list {
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  list-style: none;
}
.select2-container {
  display: block;
  min-width: 10.2rem;
}
.select2-container.select2-container--focus .select2-selection {
  border: none;
  box-shadow: inset 0 -2px 0 0 #1a5170;
}
.select2-container .select2-selection {
  border: none;
  height: auto;
  font-size: 0.9rem;
  min-height: 2rem;
  border-radius: 0;
  box-sizing: content-box;
}
.select2-container .select2-results__option--highlighted[aria-selected] {
  background-color: #246f99;
  color: #ffffff;
}
.select2-container li {
  margin: 0;
}
