@import "../vendor/spectre/src/variables";
@import "../vendor/spectre/src/mixins";

@import "components/header";
@import "components/footer";
@import "components/code";
@import "components/label";
@import "components/toast";
@import "components/avatar";
@import "components/button";

@import "components/article";
@import "components/article-filter";
@import "components/article-form";

html, body {
  // Used to freeze the footer
  height: 100%;

  .page-container {
    min-height: 100%;
    position: relative;

    .section-body {
      padding-bottom: 12rem;
    }

    .section-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.empty {
  .icon {
    font-size: 4rem;
  }
}

.highlight {
  img {
    max-width: 100%;
  }
}
