.section-header {
  padding: 1rem 0.5rem;
  background-color: #454d5d;
}
.section-header .navbar-brand {
  color: #acb3c2;
}
.section-header .btn-link {
  color: #e7e9ed;
}
.section-header .btn-link:hover,
.section-header .btn-link:focus,
.section-header .btn-link:active {
  color: #acb3c2;
}
.section-header .btn-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 233, 237, 0.15);
}
.section-header .form-black {
  border-color: #5b657a;
  background: #667189;
  color: #e7e9ed;
}
.section-header .form-black::placeholder {
  color: #e7e9ed;
}
.section-header .form-black:focus {
  background: #727e96;
  box-shadow: 0 0 0 0.2rem rgba(231, 233, 237, 0.15);
}
.section-footer {
  background-color: #f8f9fa;
  padding: 1rem;
}
.section-footer .grid-footer {
  color: #acb3c2;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.section-footer .grid-footer a {
  color: #727e96;
}
pre code {
  background-color: #f8f9fa;
  color: inherit;
  display: block;
  line-height: inherit;
  overflow-x: auto;
  padding: 2rem;
  width: 100%;
}
.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Literal.String */
  /* Operator.Word */
  /* Literal.String.Affix */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Delimiter */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
}
.highlight .hll {
  background-color: #ffe9b3;
}
.highlight .c {
  color: #acb3c2;
}
.highlight .err {
  border: #e85600;
}
.highlight .k {
  color: #5764c6;
}
.highlight .ch {
  color: #acb3c2;
}
.highlight .cm {
  color: #acb3c2;
}
.highlight .cpf {
  color: #acb3c2;
}
.highlight .c1 {
  color: #acb3c2;
}
.highlight .cs {
  color: #acb3c2;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gh {
  font-weight: bold;
}
.highlight .gp {
  font-weight: bold;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  font-weight: bold;
}
.highlight .s {
  color: #e06870;
}
.highlight .ow {
  color: #e06870;
}
.highlight .sa {
  color: #e06870;
}
.highlight .sb {
  color: #e06870;
}
.highlight .sc {
  color: #e06870;
}
.highlight .dl {
  color: #e06870;
}
.highlight .sd {
  color: #acb3c2;
}
.highlight .s2 {
  color: #e06870;
}
.highlight .se {
  color: #e06870;
}
.highlight .sh {
  color: #e06870;
}
.highlight .si {
  color: #e06870;
}
.highlight .sx {
  color: #e06870;
}
.highlight .sr {
  color: #e06870;
}
.highlight .s1 {
  color: #e06870;
}
.highlight .ss {
  color: #e06870;
}
.highlight .nt {
  color: #5764c6;
}
.highlight .nd {
  color: #7d87d3;
}
.label.label-default {
  background: #454d5d;
  color: #fff;
}
.label.label-l {
  background: #32b643;
  color: #fff;
}
.label.label-m {
  background: #ffb700;
  color: #fff;
}
.label.label-h {
  background: #e85600;
  color: #fff;
}
.toast .btn-link {
  background: transparent;
  border: 0;
  color: currentColor;
  height: 1.6rem;
  margin-left: .4rem;
  margin-right: -0.2rem;
  opacity: .45;
  padding: 0 .2rem;
  text-decoration: none;
}
.toast .btn-link:focus,
.toast .btn-link:hover,
.toast .btn-link:active,
.toast .btn-link.active {
  color: inherit;
  opacity: .85;
}
.toast.toast-form-errors ul {
  margin: 0;
  list-style: none;
}
.toast.toast-form-errors ul li:first-child {
  margin: 0;
}
.avatar img {
  z-index: 1;
}
.btn.btn-danger {
  border-color: #e85600;
  color: #e85600;
}
.btn.btn-danger:hover {
  background-color: #e85600;
  color: white;
}
.tile-article {
  background: #f8f9fa;
  border-radius: 3px;
  padding: 1rem;
}
.tile-article .tile-subtitle a {
  color: inherit;
}
.panel-article .panel-header {
  background: #f8f9fa;
}
.panel-article .article-title .article-link {
  visibility: collapse;
  font-size: 80%;
  vertical-align: 10%;
}
.panel-article .article-title:hover .article-link {
  visibility: visible;
}
.nouvelles-filter {
  padding: 0.5rem 0;
  margin: 0;
  list-style: none;
}
.nouvelles-filter li {
  margin-top: 0;
  padding: 0 .8rem;
  text-decoration: none;
  user-select: none;
}
.nouvelles-filter li .icon {
  vertical-align: -10%;
}
.nouvelles-filter li > a {
  border-radius: 0.2rem;
  color: inherit;
  display: block;
  margin: 0 -0.8rem;
  padding: .6rem .8rem;
  text-decoration: none;
}
.nouvelles-filter li > a:focus,
.nouvelles-filter li > a:hover {
  color: #5764c6;
}
.nouvelles-filter li:active,
.nouvelles-filter li.active {
  background: #fbfbfe;
  color: #5764c6;
}
.form-autocomplete {
  position: relative;
}
.form-autocomplete .form-autocomplete-input {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-height: 3.2rem;
  padding: .1rem 0 0 .1rem;
}
.form-autocomplete .form-autocomplete-input.is-focused {
  border-color: #5764c6;
  box-shadow: 0 0 0 0.2rem rgba(87, 100, 198, 0.15);
}
.form-autocomplete .form-autocomplete-input .form-input {
  border-color: transparent;
  box-shadow: none;
  display: inline-block;
  flex: 1 0 auto;
  height: 2.8rem;
  padding: .3rem .8rem;
  width: auto;
}
.form-autocomplete mark {
  font-size: 1;
  padding: .1em 0;
}
.form-autocomplete .menu {
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
.select2.select2-container--spectre {
  position: relative;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-height: 3.2rem;
  padding: .1rem 0 0 .1rem;
  background: #fff;
  background-image: none;
  border: 0.1rem solid #c4c9d3;
  border-radius: 0.2rem;
  color: #50596c;
  transition: all .2s ease;
  font-size: 1.4rem;
  line-height: 2rem;
  max-width: 100%;
  outline: none;
  width: 100%;
}
.select2.select2-container--spectre.select2-container--focus {
  border-color: #5764c6;
  box-shadow: 0 0 0 0.2rem rgba(87, 100, 198, 0.15);
}
.select2.select2-container--spectre .selection {
  width: 100%;
}
.select2.select2-container--spectre .selection .select2-selection {
  cursor: default;
}
.select2.select2-container--spectre .selection .select2-selection__rendered {
  display: flex;
  list-style: none;
  margin: 0;
  align-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  min-height: 3.2rem;
  padding: .1rem 0 0 .1rem !important;
  width: 100%;
}
.select2.select2-container--spectre .selection .select2-selection__rendered .select2-selection__choice {
  align-items: center;
  background: #f0f1f4;
  border-radius: 0.2rem;
  color: #727e96;
  display: inline-flex;
  height: 2.8rem;
  margin: 0 .1rem .1rem 0;
  max-width: 100%;
  padding: .1rem .8rem;
  text-decoration: none;
  vertical-align: middle;
}
.select2.select2-container--spectre .selection .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
  appearance: none;
  background: #fff;
  border: 0.1rem solid #5764c6;
  border-radius: 0.2rem;
  color: #5764c6;
  transition: all .2s ease;
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background: transparent;
  border: 0;
  height: 1.6rem;
  margin-left: -0.2rem;
  margin-right: .4rem;
  opacity: .45;
  padding: 0 .2rem;
  width: 1.6rem;
  font-size: 2.3rem;
  line-height: 1rem;
}
.select2.select2-container--spectre .selection .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove:hover {
  opacity: .85;
}
.select2.select2-container--spectre .selection .select2-selection__rendered .select2-search {
  float: none;
  margin: 0;
  flex: 1 0 auto;
  display: inline-flex;
  cursor: text;
}
.select2.select2-container--spectre .selection .select2-selection__rendered .select2-search .select2-search__field {
  margin: 0;
  border-color: transparent;
  box-shadow: none;
  display: inline-block;
  height: 2.8rem;
  padding: .3rem .8rem;
  width: auto;
  appearance: none;
  background: #fff;
  background-image: none;
  border-radius: 0.2rem;
  color: #50596c;
  transition: all .2s ease;
  font-size: 1.4rem;
  line-height: 2rem;
  max-width: 100%;
  outline: none;
  position: relative;
}
.select2-container--spectre.select2-container--open:not(.select2) .select2-dropdown {
  border: none;
  background: none;
}
.select2-container--spectre.select2-container--open:not(.select2) .select2-results__options {
  background: #fff;
  border-radius: 0.2rem;
  list-style: none;
  margin: 0;
  min-width: 18rem;
  padding: 1rem;
  box-shadow: 0 0.1rem 0.4rem rgba(69, 77, 93, 0.3);
  transform: translateY(0.5rem);
  z-index: 100;
  max-height: 26rem;
  overflow: auto;
}
.select2-container--spectre.select2-container--open:not(.select2) .select2-results__options .select2-results__option {
  margin-top: 0;
  text-decoration: none;
  user-select: none;
  border-radius: 0.2rem;
  color: inherit;
  display: block;
  margin: 0 -0.8rem;
  padding: .6rem .8rem;
}
.select2-container--spectre.select2-container--open:not(.select2) .select2-results__options .select2-results__option.select2-results__option--highlighted {
  color: #5764c6;
  background: #fbfbfe;
  cursor: pointer;
}
.panel-article-content {
  border: 0.1rem solid #c4c9d3;
  border-radius: 0.2rem;
  transition: all .2s ease;
}
.panel-article-content.focused {
  border-color: #5764c6;
  box-shadow: 0 0 0 0.2rem rgba(87, 100, 198, 0.15);
}
.panel-article-content .panel-nav .tab {
  margin: 0;
}
.panel-article-content .panel-body {
  padding: 0;
}
.panel-article-content .panel-body .highlight {
  padding: 0 .8rem;
}
.panel-article-content .panel-body textarea {
  width: 100%;
  border: none;
  padding: .6rem .8rem;
  resize: vertical;
}
.panel-article-content .panel-body textarea:focus {
  outline: none;
}
.panel-article-content .panel-body .help-text {
  margin: 0;
  padding: .5rem .8rem;
  background-color: #f8f9fa;
}
label.btn input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab-editor .form-label {
  display: none;
}
#md_preview {
  overflow: auto;
}
html,
body {
  height: 100%;
}
html .page-container,
body .page-container {
  min-height: 100%;
  position: relative;
}
html .page-container .section-body,
body .page-container .section-body {
  padding-bottom: 12rem;
}
html .page-container .section-footer,
body .page-container .section-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.empty .icon {
  font-size: 4rem;
}
.highlight img {
  max-width: 100%;
}
