[submodule "nouvelles/static/nouvelles/vendor/select2"]
	path = nouvelles/static/nouvelles/vendor/select2
	url = https://github.com/select2/select2.git
[submodule "nouvelles/static/nouvelles/vendor/jquery"]
	path = nouvelles/static/nouvelles/vendor/jquery
	url = https://github.com/jquery/jquery.git
[submodule "nouvelles/static/nouvelles/vendor/spectre"]
	path = nouvelles/static/nouvelles/vendor/spectre
	url = https://github.com/picturepan2/spectre.git
