.i-attach {
    background: url(../icons/attach.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-newspaper {
    background: url(../icons/newspaper.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-box {
    background: url(../icons/box.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-tag-blue {
    background: url(../icons/tag_blue.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-user {
    background: url(../icons/user.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-time {
    background: url(../icons/time.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-error {
    background: url(../icons/error.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-information {
    background: url(../icons/information.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-exclamation {
    background: url(../icons/exclamation.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-wrench {
    background: url(../icons/wrench.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-date {
    background: url(../icons/date.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-email-go {
    background: url(../icons/email_go.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-bin {
    background: url(../icons/bin.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-zoom {
    background: url(../icons/zoom.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-note-add {
    background: url(../icons/note_add.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-note-edit {
    background: url(../icons/note_edit.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-note-delete {
    background: url(../icons/note_delete.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-note-go {
    background: url(../icons/note_go.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

.i-disk {
    background: url(../icons/disk.png) no-repeat 0 50%;
    image-rendering: pixelated;
    padding-left: 22px;
}

