.tabs-container .tab-list {
  display: flex;
  list-style: none;
  margin: 0.3rem 0 0 0;
  padding: 0;
  border-bottom: 2px solid #1a5170;
}
.tabs-container .tab-list .tab {
  background-color: #6fb6dd;
  margin-right: 0.5rem;
  color: #ffffff;
  cursor: pointer;
}
.tabs-container .tab-list .tab a {
  display: block;
  padding: 0.3rem 1rem;
  color: inherit;
}
.tabs-container .tab-list .tab.active {
  background-color: #246f99;
}
.tabs-container .tab-content {
  display: none;
}
.tabs-container .tab-content.active {
  display: block;
}
.tabs-container .tab-content p {
  margin: 0 0.2rem;
}
