{% extends "nouvelles/base.html" %}
{% load nouvelles %}

{% block title %}{% site_title title %}{% endblock %}

{% load static %}

{% block content %}
    <div class="columns">
        <div class="column col-12">
            <h2 class="pt-2">Confirm deletion of the article</h2>
        </div>
    </div>
    <form class="columns" method="post">
        {% csrf_token %}
        <div class="column col-12">
            <p>
                You are about to delete article "<i>{{ article.title }}</i>" by {{ article.author.get_full_name }} and
                all its replies.<br>
                This action is <b>irreversible</b>!
            </p>
            <div class="divider"></div>
        </div>
        <div class="column col-12">
            <h4>The following articles will be deleted:</h4>
            <ul>
                <li>
                    <a href="{% url 'nouvelles:detail' article.pk %}">{{ article.title }}</a>
                    by {{ article.author.get_full_name }}
                </li>
                {% for reply in replies %}
                    <li>
                        <a href="{% url 'nouvelles:detail' reply.pk %}">{{ reply.title }}</a>
                        by {{ reply.author.get_full_name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="column col-12">
            <div class="divider"></div>
            <div class="float-right">
                <input type="submit" class="btn btn-error" value="Delete the article and its replies"/>
                <a class="btn btn-default" href="{% url 'nouvelles:detail' article.pk %}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
