{% load static nouvelles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/teamlogger.css' %}"/>
    {% block head_links %}{% endblock %}
</head>
<body>
<div class="page-container page-secondary">
    {% nouvelles_header %}
    <section class="section-body container pt-2 grid-lg">
        {% if messages %}
            {% for message in messages %}
                <div class="mb-2 toast {% if message.tags %}toast-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </section>
    {% nouvelles_footer %}
</div>

<script src="{% static 'js/teamlogger.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
