{% load static nouvelles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'nouvelles/vendor/select2/dist/css/select2.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nouvelles/vendor/spectre/docs/dist/spectre.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nouvelles/vendor/spectre/docs/dist/spectre-exp.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nouvelles/vendor/spectre/docs/dist/spectre-icons.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nouvelles/css/style.css' %}"/>
    {% block head_links %}{% endblock %}
</head>
<body>
<div class="page-container">
    {% nouvelles_header %}
    <section class="section-body container pt-10 grid-960">
        {% if messages %}
            {% for message in messages %}
                <div class="mb-10 toast {% if message.tags %}toast-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </section>
    {% nouvelles_footer %}
</div>

<script src="{% static 'nouvelles/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'nouvelles/vendor/select2/dist/js/select2.full.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
