{% extends "nouvelles/base.html" %}
{% load nouvelles static spectre %}

{% block title %}{% site_title 'Login' %}{% endblock %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'nouvelles/css/login.css' %}"/>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'login' %}" class="panel panel-login">
        <div class="panel-header">
            <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
            {% if form.errors %}
                <div class="toast toast-error">Your username and password didn't match. Please try again.</div>
            {% endif %}
            {% if next and next != '/' %}
                <div class="toast toast-warning">
                    {% if user.is_authenticated %}
                        Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.
                    {% else %}
                        Please login to see this page.
                    {% endif %}
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                {{ form.username|as_spectre }}
            </div>
            <div class="form-group">
                {{ form.password|as_spectre }}
            </div>

            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-primary btn-block" value="Login"/>
        </div>
    </form>
{% endblock %}