{% extends "nouvelles/base.html" %}
{% load i18n static %}
{% load nouvelles %}

{% block title %}{% site_title 'Password change' %}{% endblock %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'nouvelles/css/login.css' %}"/>
{% endblock %}

{% block content %}
    <div class="panel panel-login">
        <div class="panel-header">
            <h3 class="panel-title">{% trans 'Password change' %}</h3>
        </div>
        <div class="panel-body">
            <p>{% trans 'Your password was changed.' %}</p>
        </div>

        <div class="panel-footer">
            <a class="btn btn-primary btn-block" href="{% url 'nouvelles:index' %}">Return home</a>
        </div>
    </div>
{% endblock %}
