{% extends "base.html" %}
{% load i18n static %}
{% load nouvelles %}

{% block title %}{% site_title 'Password change' %}{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="shadowed-box centered">
            <h3 class="title">{% trans 'Password change' %}</h3>
            <form method="post">{% csrf_token %}
                <div>
                    {% if form.errors %}
                        <p class="errornote">
                            {% if form.errors.items|length == 1 %}
                                {% trans "Please correct the error below." %}{% else %}
                                {% trans "Please correct the errors below." %}{% endif %}
                        </p>
                    {% endif %}


                    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                    <fieldset class="module aligned wide">

                        <div class="field-wrapper">
                            {{ form.old_password.errors }}
                            {{ form.old_password.label_tag }} {{ form.old_password }}
                        </div>

                        <div class="field-wrapper">
                            {{ form.new_password1.errors }}
                            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                            {% if form.new_password1.help_text %}
                                <div class="help-text">{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>

                        <div class="field-wrapper">
                            {{ form.new_password2.errors }}
                            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                            {% if form.new_password2.help_text %}
                                <p class="help">{{ form.new_password2.help_text|safe }}</p>
                            {% endif %}
                        </div>

                    </fieldset>

                    <div class="submit-row">
                        <input type="submit" value="{% trans 'Change my password' %}" class="button expanded"/>
                    </div>

                </div>
            </form>
        </div>
    </div>

{% endblock %}
