@import "node_modules/spectre.css/src/variables";
@import "node_modules/spectre.css/src/mixins/shadow";

.form-input:not(:placeholder-shown):invalid {
  // Removes the red border on invalid inputs.
  border-color: $border-color-dark;
  &:focus {
    border-color: $primary-color;
    @include control-shadow();
  }
}

.form-input-hint {
  ul, ol {
    margin: 0 0 0 .4rem;
    li {
      margin: 0;
    }
  }
}

.form-input[type="file"] {
  overflow: hidden;
}

.has-error {
  .form-checkbox .form-icon,
  .form-radio .form-icon {
    border-color: $error-color;
  }
  .form-checkbox input:focus + .form-icon,
  .form-radio input:focus + .form-icon,
  .form-switch input:focus + .form-icon {
    border-color: $error-color;
    @include control-shadow($error-color);
  }
}
