{% load markdown_deux_tags %}
{% load nouvelles %}

<article class="panel panel-article mb-10">
    <div class="panel-header">
        <div class="tile">
            <div class="tile-content">
                {% if article.criticality != 'L' %}
                    <span class="label label-{{ article.criticality|lower }} rel float-right">{{ article.get_criticality_display|lower }}</span>
                {% endif %}
                <h5 class="tile-title article-title">
                    {{ article.title }}
                    <a href="{% url 'nouvelles:detail' article.pk %}" target="_blank"
                       class="article-link tooltip tooltip-right" aria-hidden="true"
                       data-tooltip="Open article in new window">
                        <i class="icon icon-link"></i>
                    </a>
                </h5>
                <div class="tile-subtitle">
                    {% if not article.is_published %}
                        <span class="label label-default">draft</span>
                    {% endif %}
                    by <a
                        href="{% url 'nouvelles:archives' %}?author={{ article.author.username }}">{{ article.author|user_full_name }}</a>
                    on <a
                        href="{% url 'nouvelles:archives' %}?date={{ article.effective_date|date:"o-m-d" }}">{{ article.creation_date|date }}</a>
                </div>
                <div class="tile-subtitle">
                    {% for tag in article.tags.all %}
                        <a class="i-tag-blue"
                           href="{% url 'nouvelles:archives' %}?tag={{ tag.slug }}">{{ tag.name }}</a>
                        {% if forloop.last is not True %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tile-icon">
                <figure class="avatar avatar-xl" data-initial="{{ article.author|user_initials }}">
                    {% if article.author.profile.avatar %}
                        <img src="{{ article.author.profile.avatar.url }}">
                    {% endif %}
                </figure>
            </div>
        </div>
        {% if perms.nouvlles.change_article or perms.nouvelles.add_article or perms.nouvlles.delete_article %}
            <div class="divider"></div>
            {% if perms.nouvelles.add_article and article.is_published %}
                <a class="btn btn-primary" href="{% url 'nouvelles:reply' article.pk %}">
                    Reply
                </a>
            {% endif %}

            {% if perms.nouvlles.change_article or article.author == user %}
                <a class="btn btn-default" href="{% url 'nouvelles:edit' article.pk %}">
                    Edit
                </a>
            {% endif %}

            {% if perms.nouvlles.delete_article or article.author == user and not article.is_published %}
                <a class="btn btn-danger" href="{% url 'nouvelles:delete' article.pk %}">
                    Delete
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div class="panel-body mt-10 highlight">
        {{ article.content|markdown }}
    </div>
    {% if article.attachments.count %}
        <div class="panel-footer">
            <div class="columns">
                {% for attach in article.attachments.all %}
                    <div class="column col-4 col-xs-12">
                        <div class="tile tile-centered">
                            <div class="tile-icon">
                                <a class="btn btn-action btn-primary btn-lg"
                                   href="{{ attach.file.url }}">
                                    <i class="icon icon-download centered"></i>
                                </a>
                            </div>
                            <div class="tile-content">
                                <div class="tile-title">{{ attach.file_name }}</div>
                                <div class="tile-subtitle">{{ attach.upload_date|date }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</article>
