{% load nouvelles markdown_deux_tags %}

{% for elm in articles %}
    {% with elm|class_name as elm_class %}
        {% if elm_class == "date" %}
            <div class="column col-12">
                <div class="divider text-center" data-content="{{ elm|date|upper }}"></div>
            </div>
        {% elif elm_class == "Article" %}
            <div class="column col-12">
                <div class="tile tile-article">
                    <div class="tile-icon">
                        <div class="example-tile-icon">
                            <figure class="avatar" data-initial="{{ elm.author|user_initials }}"></figure>
                        </div>
                    </div>
                    <div class="tile-content">
                        {% if elm.criticality != 'L' %}
                            <span class="label label-{{ elm.criticality|lower }} rel float-right">{{ elm.get_criticality_display|lower }}</span>
                        {% endif %}
                        <p class="tile-title">
                            <a href="{% url 'nouvelles:detail' elm.slug %}" class="card-title">{{ elm.title }}</a>
                        </p>
                        <p class="tile-subtitle">
                            by <a href="{% url 'nouvelles:archives' %}?author={{ elm.author.username }}">{{ elm.author|user_full_name }}</a> on <a
                                href="{% url 'nouvelles:archives' %}?date={{ elm.effective_date|date:"o-m-d" }}">{{ elm.effective_date|date }}</a>
                        </p>
                        <div class="card-body">{{ elm.description|markdown|striptags|truncatewords:35 }}</div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endfor %}
