{% load nouvelles markdown_deux_tags %}

{% for elm in articles %}
    {% with elm|class_name as elm_class %}
        {% if elm_class == "date" %}
            <h4>
                {{ elm }}
            </h4>
        {% elif elm_class == "Article" %}
            <div class="shadowed-box" style="display: flex;flex-wrap: wrap;">
                    <h5 style="flex: 1 100%; border: none;margin-bottom: 0.5rem; padding: 0;">
                        <a href="{% url 'detail' elm.slug %}">
                        <span class="{% if elm.criticality == 'L' %}
                        i-information
                    {% elif elm.criticality == 'M' %}
                        i-error
                    {% elif elm.criticality == 'H' %}
                        i-exclamation
                    {% endif %}"></span>{{ elm.title }}
                        </a>
                    </h5>
                <p class="description"
                   style="flex: 1 0 100%;">{{ elm.description|markdown|striptags|truncatewords:45 }}</p>
                <small title="Publication date" class="i-date" style="flex: 1 1 25%;">
                    {{ elm.effective_date|date }}
                </small>
                {% if elm.article_set.count %}
                    <small title="Replies" class="i-note-go" style="flex: 1 1 25%;">{{ elm.article_set.count }}
                        {% if elm.article_set.count > 1 %}replies{% else %}reply{% endif %}</small>
                {% endif %}
                <a title="Author" href="{% url 'archives' %}?author={{ elm.author.username }}"
                   style="flex: 0 1 25%;">
                    <small class="i-user">
                        {% if elm.author.get_full_name %}
                            {{ elm.author.get_full_name }}
                        {% else %}
                            {{ elm.author }}
                        {% endif %}
                    </small>
                </a>

                <small class="i-tag-blue" style="flex: 1 100%;">
                    {% if elm.tags.all|length > 0 %}
                        {% for tag in elm.tags.all %}
                            <a href="{% url 'archives' %}?tag={{ tag.slug }}">{{ tag.name }}</a>
                            {% if forloop.last is not True %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        No tags
                    {% endif %}
                </small>
            </div>
        {% endif %}
    {% endwith %}
{% endfor %}
