<header class="header">
    <div class="main-content">
        {% if user.is_authenticated %}
            <div class="header-top-corner">
                {% if not user.ldapprofile.source %}
                    <a title="Change your password" href="{% url 'password_change' %}">{{ user.username }}</a>
                {% else %}
                    {{ user.username }}
                {% endif %}
                [<a href="{% url 'logout' %}">logout</a>]
            </div>
        {% else %}
            <div class="header-top-corner">[<a href="{% url 'login' %}">login</a>]</div>
        {% endif %}
        <h1 class="header-title"><a href="{% url 'index' %}">{{ site_name }}</a></h1>
    </div>
    <div class="header-bottom">
        <div class="main-content">
            <ul class="header-nav">
                <li class="header-nav-item {% if path_name == 'index' %}active{% endif %}">
                    <a href="{% url 'index' %}"><span class="i-newspaper">News</span></a>
                </li>
                {% if perms.nouvelles.add_article %}
                <li class="header-nav-item {% if path_name == 'create' or path_name == 'create_reply' %}active{% endif %}">
                    <a href="{% url 'create' %}"><span class="i-note-add">New article</span></a>
                </li>
                {% endif %}
                <li class="header-nav-item {% if path_name == 'archives' %}active{% endif %}">
                    <a href="{% url 'archives' %}"><span class="i-box">Archives</span></a>
                </li>
                {% if user.is_staff %}
                    <li class="header-nav-item">
                        <a href="{% url 'admin:index' %}"><span class="i-wrench">Administration</span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
