{% extends "base.html" %}
{% load nouvelles %}

{% block title %}{% site_title title %}{% endblock %}

{% block head_links %}
    <link href="{% url 'headlines_feed' %}" rel="alternate" type="application/rss+xml" title="Headlines"/>
{% endblock %}

{% block content %}
    <div class="shadowed-box content-title">
        <h2 class="title-plain">{{ title }}
            {% comment %}
                <small>{{ query_date|date }}</small>{% endcomment %}
        </h2>
    </div>
    {# If we have filters, we have articles. Else we don't have articles #}
    {% if author_filters|length %}
        <div class="content">
            {% if article_list %}
                {% format_articles_list article_list True %}
            {% else %}
                <div class="info-watermark">No article founded with theses filters</div>
            {% endif %}
        </div>
        <div class="content-sidebar">
            <div class="shadowed-box filters-sidebar">
                <h6>Criticality</h6>
                <ul class="no-bullet nouvelles-filter">
                    {% for c in criticality_filters %}
                        {% if c %}
                            <li {% if request.GET.criticality == c.id %}class="active"{% endif %}>
                                <a class="{{ c.icon }}" href="{{ c.url }}">{{ c.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h6>Author</h6>
                <ul class="no-bullet nouvelles-filter">
                    {% for a in author_filters %}
                        <li {% if request.GET.author == a.username %}class="active"{% endif %}>
                            <a class="i-user" href="{{ a.url }}">{{ a.full_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <h6>Tags</h6>
                <ul class="no-bullet nouvelles-filter">
                    {% for t in tag_filters %}
                        <li {% if request.GET.tag == t.slug %}class="active"{% endif %}>
                            <a class="i-tag-blue" href="{{ t.url }}">{{ t.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <a class="button large secondary" href="{% url 'index' %}"><span class="i-bin"></span>Clear
                    filters</a>
            </div>
            <div class="shadowed-box">
                <a class="button large syndication" href="{% url 'headlines_feed' %}"><span class="i-feed"></span>Subscribe
                    to {{ title }}</a>
            </div>
        </div>
    {% else %}
        <div class="info-watermark">No article available for this day</div>
    {% endif %}
{% endblock %}
