{% extends "nouvelles/base.html" %}
{% load static nouvelles markdown_deux_tags %}

{% block title %}{% site_title article.title %}{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column col-4">
            <div class="panel mb-10">
                <div class="panel-header text-center">
                    <figure class="avatar avatar-xl" data-initial="ND"></figure>
                    <div class="panel-title mt-10">Nathan DESCHAMPS</div>
                    <div class="panel-subtitle">ndeschamps@teamlogger.local</div>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-primary btn-block">
                        Update my details
                    </a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-nav">
                    <ul class="tab tab-block">
                        <li class="tab-item active">
                            <a href="#panels">
                                Favorites
                            </a>
                        </li>
                        <li class="tab-item">
                            <a href="#panels">
                                Drafts
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column col-8">
            <div class="columns">


                <div class="column col-12">
                    <div class="divider text-center" data-content="AUG. 4, 2017"></div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/mpapillon.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <p class="tile-title">
                                <a href="/article/test-of-photo/view/" class="card-title">Test of photo</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=mpapillon">Maxence PAPILLON</a>
                                on <a href="/archives/?date=2017-08-04">Aug. 4, 2017</a>
                            </p>
                            <div class="card-body">Hello every ones, this is a photo !</div>
                        </div>
                    </div>
                </div>


                <div class="column col-12">
                    <div class="divider text-center" data-content="JULY 31, 2017"></div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/mpapillon.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <p class="tile-title">
                                <a href="/article/bonjour/view/" class="card-title">Bonjour</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=mpapillon">Maxence PAPILLON</a>
                                on <a href="/archives/?date=2017-07-31">July 31, 2017</a>
                            </p>
                            <div class="card-body">Ceci est un test def __main__(txt: str): print('hello')</div>
                        </div>
                    </div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/admin_haqf063.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <span class="label label-m rel float-right">medium</span>

                            <p class="tile-title">
                                <a href="/article/test/view/" class="card-title">Test</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=admin">Admin ISTRATOR</a>
                                on <a href="/archives/?date=2017-07-31">July 31, 2017</a>
                            </p>
                            <div class="card-body">Hello world</div>
                        </div>
                    </div>
                </div>


                <div class="column col-12">
                    <div class="divider text-center" data-content="JULY 12, 2017"></div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/admin_haqf063.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <p class="tile-title">
                                <a href="/article/maecenas-condimentum-quis-lectus-vel-convallis/view/"
                                   class="card-title">Maecenas condimentum quis lectus vel convallis</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=admin">Admin ISTRATOR</a>
                                on <a href="/archives/?date=2017-07-12">July 12, 2017</a>
                            </p>
                            <div class="card-body">lil</div>
                        </div>
                    </div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/admin_haqf063.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <p class="tile-title">
                                <a href="/article/lorem-ipsum-dolor-sit-amet/view/" class="card-title">Lorem ipsum dolor
                                    sit amet</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=admin">Admin ISTRATOR</a>
                                on <a href="/archives/?date=2017-07-12">July 12, 2017</a>
                            </p>
                            <div class="card-body">lol</div>
                        </div>
                    </div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/admin_haqf063.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <p class="tile-title">
                                <a href="/article/5260543D-D4B2-37BD-C1CD-EEED0102656E/view/" class="card-title">accumsan
                                    sed, facilisis vitae,</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=admin">Admin ISTRATOR</a>
                                on <a href="/archives/?date=2017-07-12">July 12, 2017</a>
                            </p>
                            <div class="card-body">blandit viverra Donec tempus, lorem fringilla ornare placerat, orci
                                lacus vestibulum lorem, sit amet ultricies sem magna nec quam. Curabitur vel lectus. Cum
                                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                ...
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column col-12">
                    <div class="divider text-center" data-content="JULY 11, 2017"></div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/admin_haqf063.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <span class="label label-m rel float-right">medium</span>

                            <p class="tile-title">
                                <a href="/article/EC27FD03-6E0C-3E99-3937-6F86C3F30C01/view/" class="card-title">tristique
                                    neque venenatis lacus.</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=admin">Admin ISTRATOR</a>
                                on <a href="/archives/?date=2017-07-11">July 11, 2017</a>
                            </p>
                            <div class="card-body">ultrices posuere cubilia Curae; Phasellus ornare. Fusce mollis. Duis
                                sit amet diam eu dolor egestas rhoncus. Proin nisl sem,
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column col-12">
                    <div class="divider text-center" data-content="JULY 10, 2017"></div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/admin_haqf063.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <span class="label label-m rel float-right">medium</span>

                            <p class="tile-title">
                                <a href="/article/6BFD852F-941E-CC8E-8153-48B0DFB0FE05/view/" class="card-title">erat.
                                    Sed nunc est,</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=admin">Admin ISTRATOR</a>
                                on <a href="/archives/?date=2017-07-10">July 10, 2017</a>
                            </p>
                            <div class="card-body">Pellentesque ut ipsum ac mi eleifend egestas. Sed pharetra, felis
                                eget varius ultrices, mauris ipsum porta elit, a feugiat tellus lorem eu metus. In
                                lorem. Donec elementum, lorem ut aliquam iaculis, lacus pede sagittis augue, ...
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column col-12">
                    <div class="divider text-center" data-content="JULY 9, 2017"></div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/admin_haqf063.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <span class="label label-h rel float-right">high</span>

                            <p class="tile-title">
                                <a href="/article/2700FD57-50B4-53B1-F34D-AEC85A97B9B7/view/" class="card-title">tortor
                                    nibh</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=admin">Admin ISTRATOR</a>
                                on <a href="/archives/?date=2017-07-09">July 9, 2017</a>
                            </p>
                            <div class="card-body">mauris, aliquam eu, accumsan sed, facilisis vitae, orci. Phasellus
                                dapibus quam quis diam. Pellentesque habitant morbi tristique senectus et netus et
                                malesuada fames ac turpis egestas. Fusce aliquet magna a neque. Nullam ut nisi a ...
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column col-12">
                    <div class="divider text-center" data-content="JULY 7, 2017"></div>
                </div>


                <div class="column col-12">
                    <div class="tile tile-article">
                        <div class="tile-icon">
                            <div class="example-tile-icon">

                                <figure class="avatar">
                                    <img src="/media/avatars/admin_haqf063.jpg">
                                </figure>

                            </div>
                        </div>
                        <div class="tile-content">

                            <span class="label label-h rel float-right">high</span>

                            <p class="tile-title">
                                <a href="/article/E530A98A-A5AE-D9B0-DC1C-534D66BABD70/view/" class="card-title">et
                                    netus</a>
                            </p>
                            <p class="tile-subtitle">
                                by <a href="/archives/?author=admin">Admin ISTRATOR</a>
                                on <a href="/archives/?date=2017-07-07">July 7, 2017</a>
                            </p>
                            <div class="card-body">Duis mi enim, condimentum eget, volutpat ornare, facilisis eget,
                                ipsum. Donec sollicitudin adipiscing ligula. Aenean gravida nunc sed pede. Cum sociis
                                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin vel
                                arcu eu ...
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
