{% extends "nouvelles/base.html" %}
{% load i18n static %}
{% load nouvelles spectre %}

{% block title %}{% site_title 'Change my profile' %}{% endblock %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'nouvelles/css/login.css' %}"/>
{% endblock %}

{% block content %}
    <form class="panel panel-login" method="POST" enctype="multipart/form-data">
        <div class="panel-header text-center">
            <figure class="avatar avatar-xl" data-initial="{{ user|user_initials }}">
                {% if user.profile.avatar %}<img src="{{ user.profile.avatar.url }}">{% endif %}
            </figure>
            <div class="panel-title mt-10">{{ user|user_full_name }}</div>
            <div class="panel-subtitle">Change your profile</div>
        </div>
        <nav class="panel-nav mb-5">
            <ul class="tab tab-block">
                <li class="tab-item active">
                    <a href="{% url 'nouvelles:profile:change' %}">
                        Profile
                    </a>
                </li>
                <li class="tab-item">
                    <a href="{% url 'nouvelles:profile:password_change' %}">
                        Password
                    </a>
                </li>
            </ul>
        </nav>
        <div class="panel-body">{% csrf_token %}
            {{ form|as_spectre }}
            {{ formset.management_form }}
            {% for profile_form in formset %}
                {{ profile_form.avatar|as_spectre }}
                {{ profile_form.user }}
            {% endfor %}
        </div>

        <div class="panel-footer">
            <button class="btn btn-primary btn-block">Save changes</button>
        </div>
    </form>
{% endblock %}
